body {
    background-color: #f6efe8;
    margin: 0;
}
.container{
  display: flex;
  flex-direction: column; 
  gap: 2px;  
   align-items: center;
   padding: 10px;
}
.header {
background: #b58b63;
height: 100px;
width: 1100px;
display: grid;
grid-template-columns: repeat(3, 1fr); 
justify-content: center;
align-items: ceter;
border-radius: 10px;
border: 5px solid black;
}
.logo1{
    width: 240px;
    position: relative;
    top: -38px;
    right: 50px;
}
.headertext{
    display: flex;
    justify-content: center;
align-items: ceter;
flex-direction: column;
position: relative;
top: -42px;
}
.rubrik{
font-size: 60px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight: bold;
letter-spacing: 10px;  
}
.inledning{
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: italic;
word-spacing: 2px;
}
.nav{
    background-color: #a5b58d;
    height: 30px;
    border-radius: 10px;
    border: 5px solid black;
    width: 900px;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 350px;
}
.sidor{
    color: #b58b63;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
}
.sidor:hover{
    color: darkcyan;
    text-decoration: underline;
}
.container2{
  display: grid;  
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(2, 1fr);  
  gap: 10px;
  padding: 10px;
  height: 375px;
}
.bilder{
  display: grid;  
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(2, 1fr);  
  gap: 1px;
  align-items: center;
  padding: 15px;
}
.kaffe1{
    width: 250px;
}
.bröd1{
    width: 250px;
}
.bröd2{
    width: 250px;
}
.bröd3{
    width: 250px;
}
.ttcontainer{
    background-color:rgb(241, 227, 209);
    width: 475px;
}
.textt{
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 18px;
width: 400px;
padding: 40px;
word-spacing: 4px;
}
.Bild{
     display: grid;  
  grid-template-columns: repeat(4, 0fr); 
  justify-content: center   ;
  align-items: center;
  gap: 5px  ;
  height: 700px;
}
.bild1{
    width: 200px;
}
.bild2{
    width: 300px;
}
.bild3{
    width: 350px;
}
.container3{
    display: flex;
    flex-direction: row;
justify-content: center;
align-items: center;
gap: 350px;  
padding: 20px;
}
.box1{
background-color: #a5b58d;
width: 250px;
height: 260px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 10px;
border: 8px solid black;
}
.box2{
    background-color: #a5b58d;
    width: 250px;
height: 260px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 10px;
border: 8px solid black;
}
.sidor2{
  color: black;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    font-size: 40px;  
    font-weight: bold;
}
.sidor2:hover{
    color: #b58b63;
}
.logo2{
    width: 300px;
    position: relative;
    right: 800px;
}
footer{
    background-color: #412104;
    height: 200px;
    display: flex;
     justify-content: center;
}





/* MENY */
.headertext2{
       display: flex;
    justify-content: center;
align-items: ceter;
flex-direction: column;
position: relative;
top: -42px;
left: 80px;
height: 160px;
}
.beskrivning{
    padding: 10px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
text-decoration: underline;
font-family:inherit
}
.maten{
    display: grid;
      grid-template-columns: repeat(3, 1fr); 
justify-content: center;
gap: 15px;
justify-items: center;
padding: 10px;
}
.mat{
display: flex;
flex-direction: column;
align-items: center;
background-color:#a5b58d;
text-align: center;
width: 200px;
height: 250px;
border-radius: 10px;
padding: 10px;
gap: 25px;
}
.line{
    background-color: #5e3b1a;
    height: 5px;
}
.mattext{
    font-size: 23px;
    font-family:g
}
.menybilder{
    height: 118px;
}
.buy{
    background-color: #636d55;
    border-radius: 10px;
    height: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 110px;
}
.idk{
    text-decoration: none;
    color: black;
}
.idk:hover{
    color: #b58b63;
}






/* KONTAKT */
.container4{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.historybox{
    background-color:rgb(241, 227, 209);
    display: flex;
    text-align: center;
    width: 1000px;
    flex-direction: column;
    gap: 10px;
    padding: 100px;
    border-radius: 35px;
}
.rubrik2{
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.history{
    font-size: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    word-spacing: 2px;
}
.container5{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 10px;
    gap: 10px;
    justify-content: center;
    justify-items: center;
    padding: 40px;
}
.titel{
    text-align: center;
    font-size: 40px;
    padding: 20px;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.kontakter{
    background-color: #a5b58d;
    border-radius: 10px;
    height: 300px;
    width: 250px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    gap: 5px;
}
.namn{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 30px;
}
.pfp{
    height: 150px;
}
.container6{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 100px;
}
.tider{
font-size: large;
background-color:rgb(241, 227, 209);
padding: 30px;
}
.plats{
    height: 600px;
}

.contact-form {
  width: 300px;
  padding: 50px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px;
}

.contact-form textarea {
  height: 100px;
}

button {
  padding: 8px;
}
