body {
    background-color: #f6efe8;
}
.container{
  display: flex;
  flex-direction: column; /* stack boxes vertically */
  gap: 2px;  
   align-items: center;
}
.header {
background: #b58b63;
height: 100px;
width: 1100px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 10px;
border: 5px solid black;
}
.rubrik{
    font-size: 60px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight: bold;
letter-spacing: 10px;  
}
.inledning{
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: italic;
word-spacing: 2px;
}
.nav{
    background-color: #a5b58d;
    height: 30px;
    border-radius: 10px;
    border: 5px solid black;
    width: 900px;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 350px;
}
.meny{
    color: #b58b63;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
}
.meny:hover{
    color: darkcyan;
    text-decoration: underline;
}
.kontakt{
    color: #b58b63;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
}
.kontakt:hover{
    color: darkcyan;
    text-decoration: underline;
}
.container2{
  display: grid;  
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(2, 1fr);  
  gap: 5px;
  align-items: center;
  padding: 20px;
}
.kaffe1{
    width: 300px;
}
.bröd1{
    width: 300px;
}
.bröd2{
    width: 300px;
}